@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 11% 98%;
    --foreground: 24 9.8% 10%;
    --card: 43 11% 98%;
    --card-foreground: 24 9.8% 10%;
    --popover: 43 11% 98%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 142 76% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 24 5.7% 49%;
    --secondary-foreground: 43 11% 98%;
    --muted: 24 5.7% 82%;
    --muted-foreground: 24 5.7% 49%;
    --accent: 16 67% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 5.9% 90%;
    --input: 24 5.9% 90%;
    --ring: 142 76% 20%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}